* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.grid-container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 2fr 8fr;
}

.header{
    background-color: #f8fafc;
    grid-column: 2/3;
    grid-row: 1/2;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-bottom: solid 1px #2e2e2e69;
}

.sidebar {
    background-color: #334155;
    color: #fff;
    grid-column: 1/2;
    grid-row: 1/3;
    height: 100%;
    padding: 15px;
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo-svg {
        color: white;
        background-color: white;
        width: 24px;
}

.main-content {
    background-color: #cbd5e1;
    width: 100%;
    height: 100%;
    grid-column: 2/3;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-rows: auto;
}

.header-row-1 {
    padding: 5px;
    display: flex;
    gap: 5px;
    justify-content: space-around;
    align-items: center;
}

.header-row-2 {
    padding: 5px;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.button {
    background-color: #64748b;
    color: #fff;
    width: 75px;
    height: 40px;
    border: none;
    border-radius: 20px;
}

#btn-1 {
    margin-left: 550px;
}

.greeting-container {
    display: flex;
}

.greeting-text-container {
    display: flex;
    flex-direction: column;
}

.greeting-text-container p {
    margin: 0px;
}

.greeting-text-container h2 {
    margin: 0px;
}

.search-bar {
    width: 60%;
    height: 32px;
    border-radius: 12px;
    background-color:#f1f5f8;
    gap: 10px;
    border: none;
}

.search-bar:active {
    border:none;
}

.notifications {
    margin-left: 150px;
}

.settings {
    margin-top: 60%;
}

.projects-container {
    margin-top: 0px;
    grid-row: 2/3;
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto);
    gap: 10px;
}

.projects-header {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 2rem;
    font-weight: bolder;
}

.secondary-container {
    margin-top: 0px;
    grid-row: 2/3;
    grid-column: 3/4;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto);
    gap: 10px;
}

.announcements-header {
    margin-top: 20px;
    font-size: 1.5rem;
    font-weight: bolder;

}

.announcements-container {
    margin-top: 0px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto);
    gap: 10px;
}

.trending-header {
    margin-top: 20px;
    font-size: 1.5rem;
    font-weight: bolder;
}

.trending-container {
    margin-top: 0px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto);
    gap: 10px;
}


.card {
    margin: 15px;
    margin-left: 0px;
    background-color: #f8fafc;
    border: solid 1px #334155;
    padding: 20px;
    font-size: 0.9rem;
    border-radius: 8px;
    box-shadow: 5px 2px 5px #888888;
}